::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor do fundo da barra */
    border-radius: 10px; /* Borda arredondada */
}

/* Personaliza a parte "deslizante" (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #007BFF; /* Cor azul para o thumb */
    border-radius: 10px; /* Borda arredondada */
    border: 3px solid #f1f1f1; /* Adiciona um espaçamento entre o thumb e o track */
}

/* Personaliza a parte "deslizante" quando está sendo focada */
::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Cor azul mais escura quando o cursor está sobre o thumb */
}


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;   
}

body{
    background-color: #80BFFF;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #80BFFF;
    height: 10vh;
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.445); /* Sombra suave */;
    z-index: 1;
  
}
nav .navigation {
    display: none;
    justify-content: right;
   
    
}

nav .logo{
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 2em;
}


nav a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;

}

nav a:hover {
    background-color: #ffffff; /* Cor de fundo mais clara ao passar o mouse */
    color: #80BFFF;
    transition: 0.4s;
}


.menu-hamburguer {
    display: none; /* Escondido em telas maiores */
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
    z-index: 2; /* Garante que fique acima do restante */
}

/* Barras do menu hambúrguer */
.menu-hamburguer span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}



.icones-social{
    font-size: 3em;  /* Aumentei o tamanho dos ícones */
    margin: 10px; /* Cor dos ícones */
    transition: color 0.3s;
   
}

.fab.fa-linkedin {
    color: #0077b5; /* Azul oficial do LinkedIn */
    transition: transform 0.3s ease, color 0.3s ease;
}

.fab.fa-linkedin:hover {
    color: #0056b3; /* Azul mais escura ao passar o mouse */
    transform: scale(1.2);
}

.fab.fa-github {
    color: black; /* Cor inicial do ícone */
    transition: transform 0.3s ease, color 0.3s ease; /* Suaviza o efeito de tamanho e cor */
}

.fab.fa-github:hover {
    color: #6e5494; /* Roxo escuro, uma das cores associadas ao GitHub */
    transform: scale(1.2); /* Aumenta o tamanho em 20% */
}


.apresentacao{
    display: flex;                      /* Usando Flexbox para disposição */
    justify-content: center;            /* Centraliza o conteúdo no eixo horizontal */
    align-items: center;                /* Alinha os itens no centro do eixo vertical */                                            /* Ocupa toda a altura da tela */
    padding: 0 20px;   
    padding-left: 20px; 
    width: 100%;
    box-sizing: border-box; /* Inclui padding na largura total */
    overflow-wrap: break-word; /* Quebra linhas longas automaticamente */
    max-width: 100%; /* Garante que o conteúdo não ultrapasse a tela */
  
}


.apresentacao h1{
    word-wrap: break-word; /* Quebra palavras longas */
    max-width: 100%; /* Impede o texto de ultrapassar a tela */
    overflow-wrap: break-word;
}

.apresentacao-texto{
    margin-right: 25%;
}

.apresentacao-texto h1:first-child {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #333;
    overflow: hidden; /* Esconde o texto que ainda não foi "digitado" */
    border-right: 4px solid #333; /* Imita o cursor de digitação */
    width: 0; /* Começa com largura 0 */
    white-space: nowrap; /* Impede que o texto quebre linha */
    animation: typing 3s steps(30) 1s forwards, blink-caret 0.75s step-end infinite, hide-caret 10s forwards; /* Animações */
}

.apresentacao-texto h1:nth-child(2) {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #333;
  
}


.apresentacao .foto-Luciano {
    width: 250px; /* Define o tamanho inicial */
    height: 250px; /* Mantém a proporção */
    border-radius: 50%; /* Faz a imagem ficar circular */
    border-color: black;
    object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
    left: right;
}

.foto-Luciano:hover {
    transform: scale(1.1); /* Aumenta a imagem */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}


/* Animação de digitação */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Animação de piscar o cursor */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #333;
    }

    
}

@keyframes hide-caret {
    100% {
        border-color: transparent; /* Esconde o cursor */
    }
}

.apresentacao-texto a {
    text-decoration: none; /* Remove o sublinhado do link */
}

@keyframes buttonAppear {
    0% {
        opacity: 0;
        transform: translateY(20px); /* O botão começa um pouco mais abaixo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* O botão vai para sua posição normal */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}


.apresentacao-texto button {
    background-color: #007BFF;  /* Cor de fundo verde */
    color: white; /* Cor do texto do botão */
    font-size: 18px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    width: 100%;
    opacity: 0; /* Começa invisível */
    animation: buttonAppear 2s ease-in-out 3s forwards; /* A animação do botão começa após a animação do texto */
}

.apresentacao-texto button:hover {
    background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
}



.apresentacao{
    background-color: #F9F9F9 ;
    height: 100vh;
}

#projetos {
    background-color: #F9F9F9 ;
    height: 100vh;
}



#sobre-mim, #habilidades {
    background-color:  #80BFFF    ;
    height: 100vh;
}


.sobre-mim-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh;
    padding: 40px; /* Ajuste no padding para maior espaçamento */
    text-align: center; /* Centraliza o texto dentro de cada elemento */
}

.sobre-mim-texto h2 {
    font-family: "Bebas Neue", sans-serif; /* Fonte estilizada */
    font-size: 4em; /* Aumenta o tamanho da fonte */
    color: white; /* Cor do texto */
    margin-bottom: 20px; /* Adiciona espaçamento abaixo do título */
    opacity: 0; /* Começa invisível para animação */
    animation: fadeIn 1s ease-out forwards, slideInFromTop 1s ease-out forwards; /* Animações */
}

.sobre-mim-texto p {
    font-size: 1.2em; /* Tamanho de fonte maior para o texto */
    color: black; /* Cor inicial do texto */
    line-height: 1.6; /* Aumenta a altura da linha para melhor legibilidade */
    max-width: 800px; /* Limita a largura do texto */
    margin-top: 20px; /* Adiciona espaço entre o título e o texto */
    padding: 0 20px; /* Adiciona um pouco de espaço nas laterais */
    opacity: 0; /* Começa invisível para animação */
    animation: fadeIn 1s ease-out 0.5s forwards, colorChange 2s ease-in-out 1s forwards; /* Animações */
}






















#projetos {
    min-height: 200vh;
}

#projetos .projetos-h2 {
    font-size: 4em;
}

.design-projetos-caixa-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Ajusta o espaçamento entre os itens */
    gap: 20px; /* Espaçamento entre os projetos */
}

.design-projetos {
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 60px; /* Reduzido para menos espaçamento */
    border: 2px solid #000;
    border-radius: 8px;
    width: 700px; 
    height: 300px;  /* Reduzido para menor largura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.445);
}

#projetos img {
    width: 400px;  /* Reduzido para melhor compactação */
    height: 290px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

#projetos img:hover {
    transform: scale(1.05); /* Aumenta o tamanho da imagem em 10% */
}

#projetos h2 {
    text-align: center;
    padding: 15px;
    font-family: "Bebas Neue", sans-serif; 
    font-size: 3em;
}



.design-projetos-texto {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.design-projetos-texto p {
    margin: 5px;
    font-size: 1em; /* Tamanho levemente reduzido */
}

.design-projetos p:nth-child(1) {
    font-weight: bold;
    font-size: 2em;
    margin-top: 0;
}

.design-projetos-texto p:nth-child(3) {
    color: #007BFF;
    font-weight: bold;
}

.icone-link {
    display: inline-flex;  /* Alinha o ícone e o texto na mesma linha */
    align-items: center;   /* Centraliza verticalmente o ícone e o texto */
    gap: 10px;       
        /* Adiciona um espaço entre o ícone e o texto */
}

.icone-link a {
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: 6px 10px;  /* Tamanho do botão */
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}





















#habilidades h2 {
    text-align: center;
    padding: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
    color: white;
   
}

.habilidades {
    display: flex;
    justify-content: space-around; /* Coloca as seções com espaçamento entre elas */
    flex-wrap: wrap; /* Permite que as seções quebrem linha em telas menores */
    margin: 5px;
    border: 2px solid #fff;
    padding: 10px; /* Reduzido o padding, aproximando a borda do conteúdo */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    border-radius: 15%;
    background-color: #48b8e4;
}

.habilidades h3{
    color: #fff;
}

.frontend{
    margin-right: 20px;
    border-right: 3px solid #fff; /* Linha branca separando frontend e backend */
}

.backend{
    border-left: 3px solid #fff; /* Linha branca separando frontend e backend */
}
/* Estilo para cada seção (Frontend e Backend) */
.frontend, .backend {
    flex: 1 1 45%; /* Cada seção ocupa 45% do espaço, e o restante será distribuído igualmente */
    margin: 10px;  /* Espaçamento entre as seções */
    text-align: center;
}

/* Aplica o layout flex para empilhar os ícones verticalmente em ambas as seções */
.frontend, .backend {
    display: flex;
    flex-direction: column;  /* Coloca os ícones verticalmente */
    align-items: center;  /* Centraliza os ícones dentro da seção */
}

h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Estilo para os ícones (aumentei o font-size para 3em) */
.habilidades i {
    font-size: 3em;  /* Aumentei o tamanho dos ícones */
    margin: 10px;
    color: #007BFF;  /* Cor padrão azul dos ícones */
    transition: color 0.3s;
}

/* Inicializando as cores originais para os ícones */
.habilidades i.fa-html5 {
    color: #e34c26; /* HTML */
}
.habilidades i.fa-css3-alt {
    color: #2965f1; /* CSS */
}
.habilidades i.fa-js {
    color: #f7df1e; /* JavaScript */
}
.habilidades i.fa-react {
    color: #61dafb; /* React */
}
.habilidades i.fa-php {
    color: #8e44ad; /* PHP */
}
.habilidades i.fa-java {
    color: #b07219; /* Java */
}
.habilidades i.fa-python {
    color: #306998; /* Python */
}
.habilidades i.fa-database {
    color: #7f8c8d; /* SQL (Banco de Dados) */
}

/* Efeito de hover */
.habilidades i:hover,
.habilidades svg:hover,
.habilidades img:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
    transition: transform 0.3s ease;
}




footer {
    text-align: center; /* Centraliza o conteúdo do footer */
    margin-top: 0px; 
    font-size: 1.2em;/* Ajuste opcional para dar um espaço acima */
}

